.input{
  background-color: #ffffff;
  border-radius: 2.5px;
  border: 1px solid #afafaf;
  width: 179px;
  height: 35px;
  overflow: hidden;
  outline: none;
  padding-left: 50px;
  
}

.input-icon{
  background: url(../../assets/icon/qlts-icon.png) no-repeat -243px -23px;
}

.grid__option{
background-color: #ffffff;
border-radius: 2.5px;
border: 1px solid #afafaf;
width: 219px;
height: 35px;
overflow: hidden;
margin-left: 11px;
padding-left: 38px;
}
.option__filter--text{
  width: 164px;
  margin-left: 8px;
}
.option__filter--text input{
  font-size: 13px;
  outline: none;
  
}
.table th input:first-child{
  height: 14px;
  width: 14px;
  margin-left: 13px;
  box-sizing: border-box;
}
  

#txtCurentPage{
  background-color: #ffffff;
border-radius: 2.625px;
border: 1px solid #afafaf;
width: 59px;
height: 25px;
overflow: hidden;
}