.paging{
    height: 39px;
    width: auto;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
}
.paging .paging__left{
    display: flex;
    align-items: center;
    flex: 2;
}
.paging .paging__left .total__page{
    display: flex;
    align-items: center;
    width: 150px;
    font-size: 13px;
    justify-content: space-around;
   }
   .paging .paging__left .total__page div{
    display: flex;
   }
.paging .paging__left .current__page{
 display: flex;
 align-items: center;
 position: relative;
}


.paging .paging__left .number__pages{
 display: flex;
 align-items: center;
 justify-content: space-around;
 width: 130px;
}
.paging .paging__right{
    flex: 5;
} 
   
