.sidebar {
  display: flex;
  background-color: #1c3048;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 300px;
  height: 100%;
  transition: linear 0.5s;
  flex-direction: column;
}
.sidebar__box {
  display: flex;
  flex-direction: column;
  height: 96vh;
  position: relative;
  width: 85%;
}
.sidebar__width{
  width: 40px;
}
.sidebar__box-home {
  height: 50px;
  float: left;
  padding-left: 13px;
  display: flex;
  color: #ffffff;
  align-items: center;
}
.sidebar__box-home .box__text{
    padding-top: 15px;
    margin-left: 5px;
    font-size: 23px;
}
.sidebar__box--menu {
  margin-top: 15px;
  flex: 24;
}
.box__icon {
  height: 40px;
  width: 40px;
}
.sidebar__box--icon {
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-left: 10px;
  color: #ffffff;
  position: relative;
 
}
.sidebar__box--icon:hover {
  background-color: #1aa4c8;
}

/* .box__icon:hover{
  background-color: #1aa4c8;
}  */
.mouseover{
  background-color: #1aa4c8;
}
.box__icon:nth-child(2) {
  border-radius: 6px;
  width: 100%;
  height: 40px;
  overflow: hidden;
  
}

.sidebar__box--icon .box__text {
  color: white;
  font-size: 13px;
  opacity: 0.54;
}

.menu__dropdown {
  background-image: var(--background);
  background-position: -158px -293px;
  width: 11px;
  height: 7px;
  position: absolute;
  right:  5px;
  opacity: 0.54;
}
.sidebar-tongle{
   height: 50px;
   border-top: 1px solid  #ffffff;
   display: flex;
   align-items: center;
   position: relative;
   
}

.sidebar-tongle .sidebar__icon--tongle{
  background-image: var(--background);
  background-position:-285px -417px;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  transition: linear 0.5s;
  position: absolute;
  right: 10px;
  
}
.sidebar-tongle .sidebar__tongle--open{
  background-image: var(--background);
  background-position:-329px -417px;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  transition: linear 0.5s;
  position: absolute;
  right: 10px;
}

/* .sidebar__tongle--open:active .contain{
  display: grid;
} */