@import url(../css/component/button.css);
@import url(../css/component/icon.css);
@import url(../css/component/input.css);
@import url(../css/component/table.css);

@import url(../css/layout/grid.css);
@import url(../css/layout/header.css);
@import url(../css/layout/sidebar.css);




*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


/* @font-face {
    font-family: ;
    src: url();
} */
.row{
    height: 100px;
}
.contain{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 66px auto;
  
}
.text-alain-center{
    text-align: center ;
}