@import url(../css/component/button.css);
@import url(../css/component/icon.css);
@import url(../css/component/input.css);
@import url(../css/component/table.css);
@import url(../css/component/paging.css);
@import url(../css/component/popup.css);
@import url(../css/component/toast.css);

@import url(../css/layout/grid.css);
@import url(../css/layout/header.css);
@import url(../css/layout/sidebar.css);

@import url(../assets/fontawesome-5.15.1/css/all.min.css);
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
/* @font-face {
    font-family: ;
    src: url();
} */
.row{
    height: 80px;
    display: flex;
    flex-direction: column;
}
.contain{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 225px auto;
}
.contain2{
    height: 100vh;
    display: grid;
    grid-template-columns: 66px auto;
    transition: linear 2s;
}
.text-alain-center{
    text-align: center ;
}
.text-alain-right{
    text-align: right ;

}
.text-alain-left{
    text-align: left ;

}
