.tooltip{
    width: 40px;
    height: 20px;
    display: none;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
}
.tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}
.feature__icon-delete:hover .tooltip{
    display: block;
    position: absolute;
    left:-10px;
    top: -25px;
}
.feature__icon-export:hover .tooltip{
    display: block;
    position: absolute;
    left:-10px;
    top: -25px;
}
.sidebar__icon--tongle:hover .tooltip{
    display: block;
    position: absolute;
    left: -50px;
    top: -25px;
    width: 80px;
}
.sidebar__tongle--open:hover .tooltip{
    display: block;
    position: absolute;
    left:-30px;
    top: -45px;
    width: 60px;
    height: 40px;
}
.btn__pen:hover .tooltip{
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 20px;
}
.btn__td:hover .tooltip{
    display: block;
    position: absolute;
    right:0px;
    top: -20px;
    width: 40px;
    height: 35px;
}
.tooltipSidebar{
    display: none;
    border: 1px solid rebeccapurple;
    border-radius: 4px;
    width: 50px;
    height: 30px;
    text-align: center;
    
}
.tooltipSidebar::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}

.sidebar__box--icon:hover .tooltipSidebar{
    position: absolute;
    top: -20px;
    left: 0px;
    font-size: 12px;
    align-items: center;
    display: block;
    background-color: white;
    color: black;
}

